/CRUD1/build/
/CRUD1/dist/
/JavaApplication15/nbproject/private/
/JavaApplication15/build/
/JavaApplication15/dist/
/mavenproject1/target/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/WebApplication3/nbproject/private/
/WebApplication4/nbproject/private/
